@import "tailwindcss";

@plugin "flyonui" {
  themes: all;
}

body {
  font-family: var(--my-Font);
}

@import "flyonui/variants.css";
@source "./node_modules/flyonui/flyonui.js";


[data-theme="claude"] {
  --my-Font: "Geist";
}

[data-theme="corporate"] {
  --my-Font: "Public Sans";
}

[data-theme="ghibli"] {
  --my-Font: "Amaranth";
}

[data-theme="gourmet"] {
  --my-Font: "Rubik";
}

[data-theme="luxury"] {
  --my-Font: "Archivo";
}

[data-theme="pastel"] {
  --my-Font: "Open Sans";
}

[data-theme="slack"] {
  --my-Font: "Lato";
}

[data-theme="soft"] {
  --my-Font: "Montserrat";
}

[data-theme="spotify"] {
  --my-Font: "Lato";
}

[data-theme="valorant"] {
  --my-Font: "Work Sans";
}

[data-theme="vscode"] {
  --my-Font: "Fira Code";
}

[data-theme="dark"] {
  --my-Font: "Public Sans";
}
